In [1]:
from _const import * # execute first to set GCP credentials

In [2]:
import pandas as pd
from datetime import datetime
from bq import BQ_table
from the_graph import GraphQuery
from _func import * # lambdas

pd.set_option('display.max_rows', 500)

In [3]:
datetime.utcnow().strftime("%Y%m%d-%H:%M:%S")

'20210824-12:41:18'

In [4]:
queries_list = PATHS.QUERIES.ls()
print(queries_list)

[WindowsPath('queries/guardians.graphql')]

In [7]:
query = GraphQuery(
    queries_list[0],
    URLS.SUBGRAPH.COURT.MAINNET,
    query_first='1000'
)

In [8]:
data = query.post(paginate=True)

In [9]:
len(data)

123

In [18]:
df_guardians = pd.DataFrame(data)
df_guardians.shape

(123, 8)

In [11]:
df_guardians.head()

,activeBalance,availableBalance,createdAt,deactivationBalance,id,lockedBalance,treeId,withdrawalsLockTermId
0,880828164821533660463,0,1628932243,0,0x01704865b3404391ea00137c4bb00855515df802,0,83,0
1,811700000000000000000,0,1628229988,0,0x03000a0ecb1898040c26cd418570cd480775f0da,0,34,0
2,33875561690053511743407,0,1628945946,0,0x06b172c63730f0ccfb40ea35e726ebf4e930c9e3,0,85,0
3,135421986952300156491,0,1628186705,0,0x098d9a770f3bd88bef60e72c833ab8db240d5928,0,25,0
4,440000000000000084211,0,1629471323,0,0x09fedd3fb2907449b812d8e243daa02a2f54f946,0,111,0

In [12]:
table = BQ_table(BQ_guardians.dataset, BQ_guardians.table)

In [13]:
print(table.exists)

True

In [14]:
if not table.exists:
    table.create_table_from_df(
        df_guardians,
        partitioned_day=True)

In [15]:
errs = table.uplaoad_df_to_bq(df_guardians)

In [16]:
errs

[]